<plugin name='tooltip' version='0.1' grailsVersion='1.0 &gt; *'>
  <author>Sven Lange</author>
  <authorEmail>sv3n.lange@gmail.com</authorEmail>
  <title>Tooltip Plugin</title>
  <description>Lightweight tooltip plugin.</description>
  <documentation>http://grails.org/Tooltip+Plugin</documentation>
  <resources>
    <resource>TooltipTagLib</resource>
  </resources>
  <dependencies />
</plugin>